extends ../layout/layout.pug
block content 
    h1 login
    form(action="/login" ,method="POST")
        .form-group.ml-4
            label(for="Inputmail") Email
            input(type="text" , name="email", id="Inputmail").form-control
            lable(for="inputPassword") Password
            input(type="text" , name="pass" , id="inputPassword" ).form-control
            button.btn.btn-primary.mt-4 login



