extends ../layout/layout.pug 
block content 
    form(action="/users/profile/"+user.id,method="POST",enctype="multipart/form-data")
        img(src="/"+user.img,width=100)
        p Name: #{user.name}
        .form-group
            lable thay avatar
            input(type="file", name="avatar")
        button submit
        
    a(href="/users") back
